In [8]:
7+3**6

736

In [9]:
(3+4)**3

343

In [11]:
(3**6)-5

724

In [12]:
(1+2**8)*5

1285

In [13]:
(2+1**8)**7

2187

In [14]:
(1+2)**3

27

In [15]:
"Da"*4

'DaDaDaDa'

In [16]:
"Da"+3

TypeError: can only concatenate str (not "int") to str

In [17]:
("Pa"+"La")*2

'PaLaPaLa'

In [18]:
("Da"*4)/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [19]:
5/2

2.5

In [20]:
5//2

2

In [21]:
5%2

1

In [22]:
str(4)*int("3")

'444'

In [23]:
int("3")+float("3.2")

6.2

In [24]:
str(3) * float("3.2")

TypeError: can't multiply sequence by non-int of type 'float'

In [25]:
str(3/4) * 2

'0.750.75'

In [27]:
print("Hello world!", end="")

Hello world!

In [28]:
print("Hello world!")

Hello world!

In [33]:
print("Hello", end=" "); print("Joe!")

Hello Joe!

In [37]:
x=19
nom="Agash"
print(nom,"a",x,"ans",sep=" ")

Agash a 19 ans

In [41]:
anis1="chat"
anis2="souris"
print(anis1,anis2,sep=" ")

chat souris

In [42]:
x = 19
nom = "Agash"
print(f"{nom} a {x} ans")

Agash a 19 ans

In [47]:
to="to"
print(f"{to} + {to} font {to}{to}")

to + to font toto

In [48]:
print(f"{10} + {10} = {20}")

10 + 10 = 20

In [49]:
f=10
print(f"{f} + {f} = {f+f}")

10 + 10 = 20

In [54]:
prop_GC = (4500 + 2575) / 14800
print(f"La proportion de GC est {prop_GC}")

La proportion de GC est 0.4780405405405405

In [4]:
"Joe a {} ans.".format(20)

'Joe a 20 ans.'

In [5]:
"A"*20

'AAAAAAAAAAAAAAAAAAAA'

In [6]:
"A"*20+ "GC"*20

'AAAAAAAAAAAAAAAAAAAAGCGCGCGCGCGCGCGCGCGCGCGCGCGCGCGCGCGCGCGC'

In [18]:
a,b,c="salut",108,10.318
print(f"{a} , {b} , {c:.2f}")

salut , 108 , 10.32

In [23]:
perc_GC = ((4500 + 2575)/14800)*100
print(f"Le pourcentage de GC est {perc_GC:.0f} %")
print(f"Le pourcentage de GC est {perc_GC:.1f} %")
print(f"Le pourcentage de GC est {perc_GC:.2f} %")
print(f"Le pourcentage de GC est {perc_GC:.3f} %")

Le pourcentage de GC est 48 %
Le pourcentage de GC est 47.8 %
Le pourcentage de GC est 47.80 %
Le pourcentage de GC est 47.804 %

In [24]:
ani1 = ["girafe", "tigre"]
ani2 = ["singe", "souris"]
ani1 + ani2

['girafe', 'tigre', 'singe', 'souris']

In [25]:
(ani1 + ani2)*3

['girafe',
 'tigre',
 'singe',
 'souris',
 'girafe',
 'tigre',
 'singe',
 'souris',
 'girafe',
 'tigre',
 'singe',
 'souris']

In [30]:
A=[2]
A=A+[3]
A

[2, 3]

In [31]:
A.append(4)
A

[2, 3, 4]

In [34]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
x[:5:3]

[0, 3]

In [35]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
enclos1 = ["girafe", 4]
enclos2 = ["tigre", 2]
enclos3 = ["singe", 5]
zoo = [enclos1, enclos2, enclos3]
zoo

[['girafe', 4], ['tigre', 2], ['singe', 5]]

In [40]:
zoo[0]

['girafe', 4]

In [42]:
zoo[0][0]

'girafe'

In [74]:
liste=["lundi","mardi","mercredi","jeudi","vendredi","samedi","dimanche"]
print(liste)

listedébut= liste[0:5]
print(listedébut)
listefin=liste[5:7]
print(listefin)

listedébut= liste[-7:-2:1]
print(listedébut)
listefin=liste[-2::1]
print(listefin)

print(liste[-1])
print(liste[6])

listeinverse=liste[::-1]
print(listeinverse)

['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche']
['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi']
['samedi', 'dimanche']
['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi']
['samedi', 'dimanche']
dimanche
dimanche
['dimanche', 'samedi', 'vendredi', 'jeudi', 'mercredi', 'mardi', 'lundi']

In [88]:
H=["hiver"]
E=["été"]
A=["automne"]
P=["printemps"]
saisons=H+P+E+A
saisons[2]
saisons[1][0]
saisons[1:2]
saisons[:][0]

'hiver'

In [89]:
list(range(0,91,9))

[0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

In [91]:
len(list(range(2,10001,2)))

5000

In [92]:
liste=["vache", "souris", "levure", "bacterie"]
for i in range (4):
    print(liste[i])

vache
souris
levure
bacterie

In [93]:
for i, animal in enumerate(liste):
    print(animal)

vache
souris
levure
bacterie

In [94]:
i=0
while i<4:
    print(liste[i])
    i=i+1

vache
souris
levure
bacterie

In [97]:
liste=["lundi","mardi","mercredi","jeudi","vendredi","samedi","dimanche"]
for i in range(5):
    print(liste[i])

lundi
mardi
mercredi
jeudi
vendredi

In [98]:
i=5
while i<7:
    print(liste[i])
    i=i+1

samedi
dimanche

In [99]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
l=[]
impairs=[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]
for i in range(len(impairs)):
    l.append(impairs[i]+1)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [106]:
note=[14, 9, 6, 8, 12]
s=0
for i in range(len(note)):
    s=s+note[i]
m=s/(i+1)
print(f"La moyenne de l'élève est {m:.2f}")

La moyenne de l'élève est 9.80

In [110]:
l=list(range(2,21,2))
for i in range(1,10,1):
    print(l[i-1]*l[i])

8
24
48
80
120
168
224
288
360

In [117]:
for i in range(11):
    print(i*"*")

*
**
***
****
*****
******
*******
********
*********
**********

In [116]:
for i in range(11,0,-1):
    print(i*"*")

***********
**********
*********
********
*******
******
*****
****
***
**
*

In [115]:
for i in range(11):
    print((11-i)*" "+ i*"*")

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [128]:
N=21
for h,i in enumerate (range(1,N,2)):
    print((N-h)*" "+ i*"*")

                     *
                    ***
                   *****
                  *******
                 *********
                ***********
               *************
              ***************
             *****************
            *******************

In [146]:
N=10
print("ligne colonne")
for i in range(1,N+1):
    for j in range(1,N+1):
        print(f"   {i:.0f}     {j:.0f}")

ligne colonne
   1     1
   1     2
   1     3
   1     4
   1     5
   1     6
   1     7
   1     8
   1     9
   1     10
   2     1
   2     2
   2     3
   2     4
   2     5
   2     6
   2     7
   2     8
   2     9
   2     10
   3     1
   3     2
   3     3
   3     4
   3     5
   3     6
   3     7
   3     8
   3     9
   3     10
   4     1
   4     2
   4     3
   4     4
   4     5
   4     6
   4     7
   4     8
   4     9
   4     10
   5     1
   5     2
   5     3
   5     4
   5     5
   5     6
   5     7
   5     8
   5     9
   5     10
   6     1
   6     2
   6     3
   6     4
   6     5
   6     6
   6     7
   6     8
   6     9
   6     10
   7     1
   7     2
   7     3
   7     4
   7     5
   7     6
   7     7
   7     8
   7     9
   7     10
   8     1
   8     2
   8     3
   8     4
   8     5
   8     6
   8     7
   8     8
   8     9
   8     10
   9     1
   9     2
   9     3
   9     4
   9     5
   9     6
   9     7
   9     8
   9     9
   9     10
   10     1
   10     2
   10     3
   10     4
   10     5
   10     6
   10     7
   10     8
   10     9
   10     10

In [151]:
N=5
s=0
print("ligne colonne")
for i in range(1,N+1):
    for j in range(i+1,N+1):
        s=s+1
        print(f"   {i:.0f}     {j:.0f}")
print(f"Pour une matrice {N}x{N}, on a parcouru {s} cases")

ligne colonne
   1     2
   1     3
   1     4
   1     5
   2     3
   2     4
   2     5
   3     4
   3     5
   4     5
Pour une matrice 5x5, on a parcouru 10 cases

In [162]:
import random
t=0
r=0
while t<=5:
    t=t+random.choice([-1,1])
    r=r+1
print(r)

4866

In [169]:
N=15
Fibonacci=[0,1]
for i in range(2,N):
    Fibonacci.append(Fibonacci[i-2]+Fibonacci[i-1])
print(Fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [3]:
liste=["lundi","mardi","mercredi","jeudi","vendredi","samedi","dimanche"]
for i in range(7):
    if liste[i]=="lundi" or liste[i]=="mardi" or liste[i]=="mercredi" or liste[i]=="jeudi":
        print("On est au travail")
    if liste[i]=="samedi" or liste[i]=="dimanche":
        print("Repos ce week-end")
    if liste[i]=="vendredi":
        print("Chouette c'est vendredi")

On est au travail
On est au travail
On est au travail
On est au travail
Chouette c'est vendredi
Repos ce week-end
Repos ce week-end

In [7]:
l=["A", "C", "G", "T", "T", "A", "G", "C", "T", "A", "A", "C", "G"]
for i in range (len(l)):
    if l[i]=="A":
        l[i]="*"
    if l[i]=="T":
        l[i]="A"
    if l[i]=="*":
        l[i]="T"
    if l[i]=="G":
        l[i]="*"
    if l[i]=="C":
        l[i]="G"
    if l[i]=="*":
        l[i]="C"
print(l)

['T', 'G', 'C', 'A', 'A', 'T', 'C', 'G', 'A', 'T', 'T', 'G', 'C']

In [9]:
l=[8, 4, 6, 1, 5]
s=l[0]
for i in range (len(l)):
    if s>l[i]:
        s=l[i]
print(s)

1

In [13]:
l=["A", "R", "A", "W", "W", "A", "W", "A", "R", "W", "W", "R", "A", "G"]
a,r,w,g=0,0,0,0
for i in range (len(l)):
    if l[i]=="A":
        a=a+1
    if l[i]=="R":
        r=r+1
    if l[i]=="W":
        w=w+1
    if l[i]=="G":
        g=g+1
print(f"La fréquence de l'alanine est de {a*100/len(l):.2f}%")
print(f"La fréquence de l'arginine est de {r*100/len(l):.2f}%")
print(f"La fréquence du tryptophane est de {w*100/len(l):.2f}%")
print(f"La fréquence de la glycine est de {g*100/len(l):.2f}%")

La fréquence de l'alanine est de 35.71%
La fréquence de l'arginine est de 21.43%
La fréquence du tryptophane est de 35.71%
La fréquence de la glycine est de 7.14%

In [6]:
l=[14, 9, 13, 15, 12]
print(max(l)) 
print(min(l))
s=0
for i in range(len(l)):
    s=s+l[i]
print(f"la moyenne est de {s/len(l):.2f}")
if 10<=s<12 :
    print("mention passable")
if 12<=s<14 :
    print("mention assez bien")
if 14<=s :
    print("mention bien")

15
9
la moyenne est de 12.60
mention bien

In [8]:
pairs=[]
impairs=[]
for i in range (1,21):
    if i%2==0 and i<=10:
        pairs.append(i)
    if i%2!=0 and i>10:
        impairs.append(i)
print(pairs,impairs)

[2, 4, 6, 8, 10] [11, 13, 15, 17, 19]

In [15]:
n=10
l=[]
while n>1:
    if n%2==0:
        n=n/2
    else:
        n=n*3+1
    l.append(n)
print(l)

[5.0, 16.0, 8.0, 4.0, 2.0, 1.0]

In [20]:
l=[[48.6, 53.4],[-124.9, 156.7],[-66.2, -30.8], \
[-58.8, -43.1],[-73.9, -40.6],[-53.7, -37.5], \
[-80.6, -26.0],[-68.5, 135.0],[-64.9, -23.5], \
[-66.9, -45.5],[-69.6, -41.0],[-62.7, -37.5], \
[-68.2, -38.3],[-61.2, -49.1],[-59.7, -41.1]]
for i in range(len(l)):
    if -87<=l[i][0]<=-27 and -77<=l[i][1]<=-17:
        print(f"{l[i]} est en hélice")
    else:
        print(f"{l[i]} n'est pas en hélice")

[48.6, 53.4] n'est pas en hélice
[-124.9, 156.7] n'est pas en hélice
[-66.2, -30.8] est en hélice
[-58.8, -43.1] est en hélice
[-73.9, -40.6] est en hélice
[-53.7, -37.5] est en hélice
[-80.6, -26.0] est en hélice
[-68.5, 135.0] n'est pas en hélice
[-64.9, -23.5] est en hélice
[-66.9, -45.5] est en hélice
[-69.6, -41.0] est en hélice
[-62.7, -37.5] est en hélice
[-68.2, -38.3] est en hélice
[-61.2, -49.1] est en hélice
[-59.7, -41.1] est en hélice

In [29]:
l=list(range(2,200))
p=[]
for i in range(len(l)):
    s=0
    for j in range(1,200,1):
        if l[i]%j==0:
            s=s+1
    if s==2:
        p.append(l[i])
print(p)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [89]:
a=50
b=100
t=0
c=50
s=" "
while s != "=":
    s=input(f"Est-ce votre nombre est plus grand, plus petit ou égal à {c} ? [+/-/=]")
    if s == "+":
        a=(a+b)/2
        c=a
    if s == "-":
        b=b-(b+a)/2
        c=b
    t=t+1

Est-ce votre nombre est plus grand, plus petit ou égal à 50 ? [+/-/=]+
Est-ce votre nombre est plus grand, plus petit ou égal à 75.0 ? [+/-/=]
Est-ce votre nombre est plus grand, plus petit ou égal à 75.0 ? [+/-/=]+
Est-ce votre nombre est plus grand, plus petit ou égal à 87.5 ? [+/-/=]-

KeyboardInterrupt: Interrupted by user

In [95]:
filin= open("zoo.txt")
lignes=filin.readlines()
for ligne in lignes:
    print(ligne)
filin.close

girafe

tigre

singe

souris

In [100]:
with open("zoo.txt") as filin:
    lignes=filin.readlines()
    for ligne in lignes:
        print(ligne)

girafe

tigre

singe

souris

In [101]:
animaux=["poisson","abeille","lion","jungle"]
with open("zoo2.txt",'w') as filout:
    for animal in animaux:
        filout.write(animal)

In [102]:
animaux=["poisson","abeille","lion","jungle"]
with open("zoo2.txt",'w') as filout:
    for animal in animaux:
        filout.write(f"{animal}\n")

In [103]:
with open("zoo.txt", "r") as fichier1, open("zoo2.txt", "w") as fichier2:
    for ligne in fichier1:
        fichier2.write("* " + ligne)

In [131]:
l=[]
with open("notes.txt",'r') as note:
    lignes=note.readlines()
    for ligne in lignes:
        l.append(float(ligne))
print(sum(l)/len(l))

13.375

In [128]:
with open("notes.txt",'r') as fichier1, open("notes2.txt",'w') as fichier2:
    lignes=fichier1.readlines()
    for ligne in lignes:
        if float(ligne) < 10:
            fichier2.write(f" recalé {ligne}\n")
        else:
            fichier2.write(f" admis {ligne}\n")

In [133]:
import random
random.randint(0, 10)

6

In [135]:
import math
print(math.cos(math.pi / 2))
print(math.sin(math.pi / 2))

6.123233995736766e-17
1.0

In [136]:
from random import randint
randint(0,10)

6

In [138]:
from random import *
print(randint(0,50))
print(uniform(0,2.5))

50
2.2818540028184073

In [140]:
import random as rand
print(rand.randint(1, 10))
print(rand.uniform(1, 3))

6
1.3671536443246322

In [142]:
import random
print(random.randint(0,10))

9

In [143]:
del random
print(random.randint(0,10))

NameError: name 'random' is not defined

In [146]:
import random
x = [1, 2, 3, 4]
random.shuffle(x)
print(x)
random.shuffle(x)
print(x)

[2, 3, 4, 1]
[1, 3, 2, 4]

In [148]:
bases = ["A", "T", "C", "G"]
print(random.choice(bases))
print(random.choice(bases))
print(random.choices(bases, k=5))
print(random.choices(bases, k=5))
print(random.choices(bases, k=10))

G
G
['C', 'A', 'A', 'T', 'A']
['T', 'G', 'A', 'T', 'C']
['C', 'A', 'C', 'T', 'T', 'C', 'C', 'A', 'A', 'A']

In [154]:
random.seed(42)
print(random.randint(0, 10))
print(random.randint(0, 10))
print(random.randint(0, 10))

10
1
0

In [161]:
from math import *
for i in range(10,20):
    t=sqrt(i)
    print(f"{i}  {t:.3f}")

10  3.162
11  3.317
12  3.464
13  3.606
14  3.742
15  3.873
16  4.000
17  4.123
18  4.243
19  4.359

In [162]:
print(math.cos(math.pi/2))

6.123233995736766e-17

In [163]:
import os
os.getcwd()

'/home/jovyan/cours python stage'

In [164]:
os.listdir()

['Untitled.ipynb',
 '.ipynb_checkpoints',
 'zoo2.txt',
 'zoo.txt',
 'notes.txt',
 'notes2.txt',
 'test.py']

In [165]:
len([0, 1, 2])

3

In [168]:
ma_liste=[]
ma_liste.append(5)

In [170]:
def carre(x):
    return x**2
print(carre(2))
carre(3)

4

9

In [172]:
def hello():
    print("bonjour")

hello()

bonjour

In [173]:
var=hello()

bonjour

In [174]:
print(var)

None

In [175]:
def fois(x,y):
    return(x*y)
fois(2,3)

6

In [177]:
fois(3.1415, 5.23)

16.430045000000003

In [178]:
fois("to", 2)

'toto'

In [179]:
fois([1,3], 2)

[1, 3, 1, 3]

In [180]:
def carre_cube(x):
    return(x**2,x**3)
carre_cube(2)

(4, 8)

In [184]:
def carre_cube2(x):
    return([x**2,x**3])
z1,z2=carre_cube2(3)
print(z1)
print(z2)

9
27

In [185]:
def calc_puissance(x,y):
    return(x**y)

In [190]:
x=2
for i in range(0,21):
    print(f"{x}^ {i} = {calc_puissance(x,i)}")

2^ 0 = 1
2^ 1 = 2
2^ 2 = 4
2^ 3 = 8
2^ 4 = 16
2^ 5 = 32
2^ 6 = 64
2^ 7 = 128
2^ 8 = 256
2^ 9 = 512
2^ 10 = 1024
2^ 11 = 2048
2^ 12 = 4096
2^ 13 = 8192
2^ 14 = 16384
2^ 15 = 32768
2^ 16 = 65536
2^ 17 = 131072
2^ 18 = 262144
2^ 19 = 524288
2^ 20 = 1048576

In [199]:
def gen_pyramide(N=int(input("Donne moi le nombre de ligne souhaités :"))):
    for h,i in enumerate (range(1,N*2,2)):
        print((N-h)*" "+ i*"*")

gen_pyramide()

Donne moi le nombre de ligne souhaités :20
                    *
                   ***
                  *****
                 *******
                *********
               ***********
              *************
             ***************
            *****************
           *******************
          *********************
         ***********************
        *************************
       ***************************
      *****************************
     *******************************
    *********************************
   ***********************************
  *************************************
 ***************************************

In [246]:
def est_premier(N):
    liste=list(range(2,N,1))
    for k in range(len(liste)):
        s=0
        for j in range(1,N,1):
            if liste[k]%j==0:
                s=s+1
        if s!=2:
            print(f"{liste[k]} n'est pas premier")
        if s==2:
            print(f"{liste[k]} est premier")
    return(None)

In [247]:
print(est_premier(100))

2 est premier
3 est premier
4 n'est pas premier
5 est premier
6 n'est pas premier
7 est premier
8 n'est pas premier
9 n'est pas premier
10 n'est pas premier
11 est premier
12 n'est pas premier
13 est premier
14 n'est pas premier
15 n'est pas premier
16 n'est pas premier
17 est premier
18 n'est pas premier
19 est premier
20 n'est pas premier
21 n'est pas premier
22 n'est pas premier
23 est premier
24 n'est pas premier
25 n'est pas premier
26 n'est pas premier
27 n'est pas premier
28 n'est pas premier
29 est premier
30 n'est pas premier
31 est premier
32 n'est pas premier
33 n'est pas premier
34 n'est pas premier
35 n'est pas premier
36 n'est pas premier
37 est premier
38 n'est pas premier
39 n'est pas premier
40 n'est pas premier
41 est premier
42 n'est pas premier
43 est premier
44 n'est pas premier
45 n'est pas premier
46 n'est pas premier
47 est premier
48 n'est pas premier
49 n'est pas premier
50 n'est pas premier
51 n'est pas premier
52 n'est pas premier
53 est premier
54 n'est pas premier
55 n'est pas premier
56 n'est pas premier
57 n'est pas premier
58 n'est pas premier
59 est premier
60 n'est pas premier
61 est premier
62 n'est pas premier
63 n'est pas premier
64 n'est pas premier
65 n'est pas premier
66 n'est pas premier
67 est premier
68 n'est pas premier
69 n'est pas premier
70 n'est pas premier
71 est premier
72 n'est pas premier
73 est premier
74 n'est pas premier
75 n'est pas premier
76 n'est pas premier
77 n'est pas premier
78 n'est pas premier
79 est premier
80 n'est pas premier
81 n'est pas premier
82 n'est pas premier
83 est premier
84 n'est pas premier
85 n'est pas premier
86 n'est pas premier
87 n'est pas premier
88 n'est pas premier
89 est premier
90 n'est pas premier
91 n'est pas premier
92 n'est pas premier
93 n'est pas premier
94 n'est pas premier
95 n'est pas premier
96 n'est pas premier
97 est premier
98 n'est pas premier
99 n'est pas premier
None

In [248]:
def seq_comp(seq=[]):
    for i in range (len(seq)):
        if seq[i]=="A":
            seq[i]="*"
        if seq[i]=="T":
            seq[i]="A"
        if seq[i]=="*":
            seq[i]="T"
        if seq[i]=="G":
            seq[i]="*"
        if seq[i]=="C":
            seq[i]="G"
        if seq[i]=="*":
            seq[i]="C"
    return(seq)

In [249]:
seq_comp(["A", "T", "C", "G", "A", "T", "C", "G", "A", "T", "C"])

['T', 'A', 'G', 'C', 'T', 'A', 'G', 'C', 'T', 'A', 'G']

In [251]:
def calc_distance_3D(A=[],B=[]):
    s=0
    for i in range(len(A)):
        s=s+(A[i]-B[i])**2
    return sqrt(s)

In [252]:
calc_distance_3D([0,0,0],[1,1,1])

1.7320508075688772

In [289]:
a,b,n=0,100,100
def gen_distrib(a,b,n):
    l=[]
    for i in range(n):
        l.append(random.uniform(a,b))
    return(l)
def calc_stat(a,b,n):
    b=gen_distrib(a,b,n)
    return (f"le minimum est {min(b):.2f}, le maximum est {max(b):.2f}, la moyenne est {sum(b)/len(b):.2f}")

In [300]:
for i in range(1,21):
    print(f"liste {i} :", calc_stat(a,b,n))

liste 1 : le minimum est 2.16, le maximum est 98.63, la moyenne est 47.02
liste 2 : le minimum est 2.07, le maximum est 99.75, la moyenne est 47.33
liste 3 : le minimum est 3.79, le maximum est 97.85, la moyenne est 50.21
liste 4 : le minimum est 0.14, le maximum est 99.60, la moyenne est 50.46
liste 5 : le minimum est 0.49, le maximum est 96.70, la moyenne est 52.70
liste 6 : le minimum est 0.27, le maximum est 99.83, la moyenne est 51.36
liste 7 : le minimum est 0.62, le maximum est 97.27, la moyenne est 49.78
liste 8 : le minimum est 0.49, le maximum est 98.70, la moyenne est 47.56
liste 9 : le minimum est 0.90, le maximum est 99.68, la moyenne est 49.60
liste 10 : le minimum est 1.20, le maximum est 98.64, la moyenne est 52.05
liste 11 : le minimum est 0.75, le maximum est 98.93, la moyenne est 50.37
liste 12 : le minimum est 1.64, le maximum est 95.09, la moyenne est 49.33
liste 13 : le minimum est 0.24, le maximum est 97.98, la moyenne est 45.89
liste 14 : le minimum est 0.97, le maximum est 99.13, la moyenne est 49.16
liste 15 : le minimum est 0.26, le maximum est 94.54, la moyenne est 41.54
liste 16 : le minimum est 1.59, le maximum est 99.68, la moyenne est 52.16
liste 17 : le minimum est 5.65, le maximum est 99.16, la moyenne est 54.52
liste 18 : le minimum est 0.16, le maximum est 99.76, la moyenne est 50.90
liste 19 : le minimum est 1.59, le maximum est 97.53, la moyenne est 50.86
liste 20 : le minimum est 0.09, le maximum est 99.66, la moyenne est 54.36

In [301]:
l=['girafe', 'tigre', 'singe', 'souris']
for i in range(len(l)):
    print(l[i], len(l[i]))

girafe 6
tigre 5
singe 5
souris 6

In [85]:
b="UBI4_SCerevisiae.fasta"
with open(b, "r") as fasta_file:
    t=0
    l=[]
    i=0
    print(b)
    for ligne in (fasta_file):
        l.append(ligne)
        s=len(ligne)
        if i!=0:    
            t+=s
        i+=1
    print(f"La séquence est composée de {t} bases")
    if t%3==0:
        print("La séquence est un multiple de 3")
    else:
        print("La séquence n'est pas un multiple de 3")
    print(f"La séquence a {t//3} codons")
    print(f"10 première bases  : {l[1][:10]}")
    print(f"10 dernières bases : {ligne[s-10:]}")

UBI4_SCerevisiae.fasta
La séquence est composée de 1162 bases
La séquence n'est pas un multiple de 3
La séquence a 387 codons
10 première bases  : ATGCAGATTT
10 dernières bases : TGGTAACTGA

In [108]:
L=["ATATACGGATCGGCTGTTGCCTGCGTAGTAGCGT"]
def calc_composition(L=[]):    
    A,T,C,G=0,0,0,0
    for i in range(len(L[0])):
        if L[0][i]=="A":
            A+=1
        if L[0][i]=="T":
            T+=1
        if L[0][i]=="G":
            G+=1
        if L[0][i]=="C":
            C+=1
    print(f"La fréquence de nucléotides A est de {A/(A+C+G+T)}")
    print(f"La fréquence de nucléotides T est de {T/(A+C+G+T)}")
    print(f"La fréquence de nucléotides G est de {G/(A+C+G+T)}")
    print(f"La fréquence de nucléotides C est de {C/(A+C+G+T)}")

In [110]:
calc_composition(L=["ATATACGGATCGGCTGTTGCCTGCGTAGTAGCGT"])

La fréquence de nucléotides A est de 0.17647058823529413
La fréquence de nucléotides T est de 0.29411764705882354
La fréquence de nucléotides G est de 0.3235294117647059
La fréquence de nucléotides C est de 0.20588235294117646

In [122]:
def convert_3_lettres_1_lettre(L=[]):
    n=[]
    for i in range(0,len(L[0]),4):
        if L[0][i]+L[0][i+1]+L[0][i+2]=="ALA":
            n.append("A")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="ARG":
            n.append("R")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="ASN":
            n.append("N")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="ASP":
            n.append("D")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="CYS":
            n.append("S")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="GLU":
            n.append("E")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="GLN":
            n.append("Q")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="GLY":
            n.append("G")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="HIS":
            n.append("H")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="ILE":
            n.append("I")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="LEU":
            n.append("L")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="LYS":
            n.append("K")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="MET":
            n.append("M")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="PHE":
            n.append("F")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="PRO":
            n.append("P")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="SER":
            n.append("S")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="THR":
            n.append("T")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="TRP":
            n.append("W")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="TYR":
            n.append("Y")
        if L[0][i]+L[0][i+1]+L[0][i+2]=="VAL":
            n.append("V")
    print(n)

In [123]:
convert_3_lettres_1_lettre(L=["ALA GLY GLU ARG TRP TYR SER GLY ALA TRP"])

['A', 'G', 'E', 'R', 'W', 'Y', 'S', 'G', 'A', 'W']

In [87]:
def convert_3_lettres_1_lettre(L=[]):
    n=[]
    for i in range(len(L)):
        if L[i]=="ALA":
            n.append("A")
        if L[i]=="ARG":
            n.append("R")
        if L[i]=="ASN":
            n.append("N")
        if L[i]=="ASP":
            n.append("D")
        if L[i]=="CYS":
            n.append("S")
        if L[i]=="GLU":
            n.append("E")
        if L[i]=="GLN":
            n.append("Q")
        if L[i]=="GLY":
            n.append("G")
        if L[i]=="HIS":
            n.append("H")
        if L[i]=="ILE":
            n.append("I")
        if L[i]=="LEU":
            n.append("L")
        if L[i]=="LYS":
            n.append("K")
        if L[i]=="MET":
            n.append("M")
        if L[i]=="PHE":
            n.append("F")
        if L[i]=="PRO":
            n.append("P")
        if L[i]=="SER":
            n.append("S")
        if L[i]=="THR":
            n.append("T")
        if L[i]=="TRP":
            n.append("W")
        if L[i]=="TYR":
            n.append("Y")
        if L[i]=="VAL":
            n.append("V")
    print(n)

In [88]:
convert_3_lettres_1_lettre(L=["ALA", "GLY", "GLU" ,"ARG", "TRP", "TYR", "SER", "GLY", "ALA" ,"TRP"])

['A', 'G', 'E', 'R', 'W', 'Y', 'S', 'G', 'A', 'W']

In [99]:
def dist_hamming(l=[],n=[]):
    s=0
    for i in range(len(l[0])):
        if l[0][i]!=n[0][i]:
            s+=1
    print(s)

In [100]:
dist_hamming(l=["AGWPSGGASAGLAIL"],n=["IGWPSAGASAGLWIL"])

3

In [124]:
dist_hamming(l=["ATTCATACGTTACGATT"],n=["ATACTTACGTAACCATT"])

4

In [163]:
def test_palindrome(L=""):
    n=[]
    t=[]
    s=0
    m=list(range(len(L)-1,-1,-1))
    for i in (m):
        if L[i]!=" " :
            n.append(L[i])
    for i in range(len(L)):
        if L[i]!=" " :
            t.append(L[i])
    for i in range(len(n)):
        if n[i]==t[i]:
            s+=1
    if s==len(n) and s==len(t):
        print(f"{L} est palindromique")
    else:
        print(f"{L} n'est pas palindromique")

In [166]:
test_palindrome("radar")

radar est palindromique

In [167]:
test_palindrome("never odd or even")

never odd or even est palindromique

In [168]:
test_palindrome("karine alla en Iran")

karine alla en Iran n'est pas palindromique

In [169]:
test_palindrome("un roc si biscornu")

un roc si biscornu est palindromique

In [171]:
def test_composable(L=" ",T=" "):
    n=0
    for i in range(len(L)):
        for j in range(len(T)):
            if L[i]==T[j]:
                n+=1
    if n>=len(L):
        print(f"Le mot {L} est composable à partir de {T}")
    else:
        print(f"Le mot {L} n'est pas composable à partir de {T}")

In [175]:
test_composable("python","aophrtkny")
test_composable("python","aeiouyhpq")
test_composable("coucou","uocuoceokzezh")
test_composable("fonction","nhwfnitvkloco")

Le mot python est composable à partir de aophrtkny
Le mot python n'est pas composable à partir de aeiouyhpq
Le mot coucou est composable à partir de uocuoceokzezh
Le mot fonction est composable à partir de nhwfnitvkloco

In [211]:
def get_alphabet():
    L=""
    for i in range(97,123):
        L+=chr(i)
    return(L)

get_alphabet()

'abcdefghijklmnopqrstuvwxyz'

In [243]:
def pangramme(M=""):
    L=get_alphabet()
    P=M.lower()
    P=[P]
    n=0
    for i in range(len(P[0])):
        for j in range(len(L)):
            if P[0][i]!=" ":
                if P[0][i]==L[j] :
                    n+=1
    if n>=26:
        print(f"{P} est un pangramme")
    else:
        print(f"{P} n'est pas un pangramme")

In [245]:
pangramme("Portez ce vieux whisky au juge blond qui fume")
pangramme("Monsieur Jack vous dactylographiez bien mieux que votre ami Wolf")
pangramme("Buvez de ce whisky que le patron juge fameux")

['portez ce vieux whisky au juge blond qui fume'] est un pangramme
['monsieur jack vous dactylographiez bien mieux que votre ami wolf'] est un pangramme
['buvez de ce whisky que le patron juge fameux'] est un pangramme

In [35]:
L=[8, 3, 12.5, 45, 25.5, 52, 1]
t=[]
m=len(L)
for i in range(m-1):
    r=L[0]
    s=min(L[i],L[i+1])
    if r>s:
        r=s
        t.append(r)
        L.remove(r)
print(t)

IndexError: list index out of range

In [283]:
import random
def seq_alea(n=2):
    L=[]
    for i in range(n):
        p=random.choice(["A","T","C","G"])
        L.append(p)
    print(L)

In [284]:
seq_alea(15)

['A', 'A', 'T', 'A', 'G', 'A', 'C', 'T', 'G', 'C', 'C', 'T', 'T', 'T', 'C']

In [338]:
def comp_inv(l=""):
    l=[l]
    s=""
    for i in range (len(l[0])):
        if l[0][i]=="A":
            s+="C"
        if l[0][i]=="T":
            s+="G"
        if l[0][i]=="G":
            s+="T"
        if l[0][i]=="C":
            s+="A"
    print(s)

In [340]:
comp_inv(l="ATCG")
comp_inv(l="TCTGTTAACCATCCACTTCG")

CGAT
GAGTGGCCAACGAACAGGAT

In [106]:
liste = [5, 1, 1, 2, 5, 6, 3, 4, 4, 4, 2]
l=[]
for i in range(len(liste)):
    if liste[i] not in l:
        l.append(liste[i])
print(l)

[5, 1, 2, 6, 3, 4]

In [71]:
def seq_alea_2(n=int(),A="A",T="T",G="G",C="C"):
    L=[]
    for i in range (int(n*0.1)):
        L.append(A)
    for i in range (int(n*0.3)):
        L.append(T)
    for i in range (int(n*0.5)):
        L.append(G)   
    for i in range(int(n*0.1)):
        L.append(C)
    random.shuffle(L)
    print(L)

In [72]:
seq_alea_2(50)

['G', 'G', 'G', 'G', 'G', 'A', 'T', 'T', 'A', 'T', 'G', 'G', 'T', 'T', 'G', 'T', 'G', 'G', 'T', 'T', 'G', 'T', 'G', 'G', 'G', 'G', 'T', 'G', 'A', 'G', 'G', 'G', 'G', 'G', 'G', 'T', 'C', 'G', 'G', 'T', 'T', 'A', 'G', 'T', 'A', 'C', 'C', 'C', 'C', 'T']

In [27]:
l=[]
for i in range(100,300,2):
    l.append(str(i))
for j in range(len(l)):
    if int(l[j][0])+int(l[j][1])+int(l[j][2])==7 and (l[j][0]==l[j][1] or l[j][0]==l[j][2] or l[j][1]==l[j][2]):
        print(l[j])

232

In [107]:
# définition des fonctions
def polynome(x):
    return (x**2 - 2*x + 1)

def calc_vals(debut, fin):
    liste_vals = []
    for x in range(debut, fin + 1):
        liste_vals.append(polynome(x))
    return liste_vals

# programme principal
print(calc_vals(-5, 5))

[36, 25, 16, 9, 4, 1, 0, 1, 4, 9, 16]

In [111]:
def calc_factorielle(nb):
    if nb == 1:
        return 1
    else:
        return nb * calc_factorielle(nb - 1)

# prog principal
print(calc_factorielle(5))

120

In [121]:
def ma_fonction():
    x = 4
    print(f"Dans la fonction x vaut {x}")
    

x = -15
ma_fonction()

print(f"Dans le module principal x vaut {x}")

Dans la fonction x vaut 4
Dans le module principal x vaut -15

In [122]:
import numpy as np

In [127]:
a=np.array([1,2,3])
print(a)

[1 2 3]

In [128]:
b=np.arange(300)
print(b)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299]

In [131]:
v = np.arange(4)

In [134]:
v*5.
v*2.5

array([0. , 2.5, 5. , 7.5])

In [165]:
import pandas as pd
import numpy as np
df=pd.read_csv("people.tsv")
df=pd.DataFrame(columns=["name","sex","size","age"],data=df)
df

    name  sex  size  age
0    NaN  NaN   NaN  NaN
1    NaN  NaN   NaN  NaN
2    NaN  NaN   NaN  NaN
3    NaN  NaN   NaN  NaN
4    NaN  NaN   NaN  NaN
5    NaN  NaN   NaN  NaN
6    NaN  NaN   NaN  NaN
7    NaN  NaN   NaN  NaN
8    NaN  NaN   NaN  NaN
9    NaN  NaN   NaN  NaN
10   NaN  NaN   NaN  NaN
11   NaN  NaN   NaN  NaN

In [163]:
df.columns[:]

Index(['name', 'sex', 'size', 'age'], dtype='object')

In [168]:
# Python program to convert .tsv file to .csv file
# importing re library
import re

# reading given tsv file
with open("people.tsv", 'r') as myfile:
    with open("people.csv", 'w') as csv_file:
        for line in myfile:
	
        # Replace every tab with comma
            fileContent = re.sub("\t", ",", line)
	
        # Writing into csv file
            csv_file.write(fileContent)

# output
print("Successfully made csv file")

Successfully made csv file

In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("people.csv")
print(df)
df=pd.DataFrame(columns=["name","sex","size","age"],data=df)
df

        name     sex  size  age
0      simon    male   175   33
1      clara  female   167   45
2      serge    male   181   44
3     claire  female   174   31
4    patrick    male   172   52
5      julie  female   168   37
6       paul    male   185   29
7     jeanne  female   172   56
8   baptiste    male   178   39
9   mathilde  female   168   46
10       bob    male   186   33
11     elise  female   159   63

        name     sex  size  age
0      simon    male   175   33
1      clara  female   167   45
2      serge    male   181   44
3     claire  female   174   31
4    patrick    male   172   52
5      julie  female   168   37
6       paul    male   185   29
7     jeanne  female   172   56
8   baptiste    male   178   39
9   mathilde  female   168   46
10       bob    male   186   33
11     elise  female   159   63

In [10]:
df2=pd.read_csv("people.csv",nrows=6)
df2=pd.DataFrame(columns=["name","sex","size","age"],data=df2)
df2

      name     sex  size  age
0    simon    male   175   33
1    clara  female   167   45
2    serge    male   181   44
3   claire  female   174   31
4  patrick    male   172   52
5    julie  female   168   37

In [11]:
df3=df.assign(oui=np.repeat(2, df.shape[0]))
df3

        name     sex  size  age  oui
0      simon    male   175   33    2
1      clara  female   167   45    2
2      serge    male   181   44    2
3     claire  female   174   31    2
4    patrick    male   172   52    2
5      julie  female   168   37    2
6       paul    male   185   29    2
7     jeanne  female   172   56    2
8   baptiste    male   178   39    2
9   mathilde  female   168   46    2
10       bob    male   186   33    2
11     elise  female   159   63    2

In [52]:
df4=df3[ (df3["age"]<39) & (df["sex"]=="female")]
df4

     name     sex  size  age  oui
3  claire  female   174   31    2
5   julie  female   168   37    2

In [64]:
a=[1,2,1,2,1,5,3,6,4,5,8,45,2,5,7,6,3,12,548,4,4,5,64,]
np.unique(a)

array([  1,   2,   3,   4,   5,   6,   7,   8,  12,  45,  64, 548])

In [79]:
df=pd.read_csv("transferrin_report.csv")

In [80]:
df.head()

  PDB ID              Source Deposit Date  Length       MW
0   1A8E        Homo sapiens   1998-03-24     329  36408.4
1   1A8F        Homo sapiens   1998-03-25     329  36408.4
2   1AIV       Gallus gallus   1997-04-28     686  75929.0
3   1AOV  Anas platyrhynchos   1996-12-11     686  75731.8
4   1B3E        Homo sapiens   1998-12-09     330  36505.5

In [81]:
df.describe()

           Length            MW
count   41.000000     41.000000
mean   477.341463  52816.090244
std    175.710217  19486.594012
min    304.000000  33548.100000
25%    331.000000  36542.300000
50%    337.000000  37229.300000
75%    679.000000  75298.500000
max    696.000000  77067.900000

In [82]:
df["Source"].value_counts()

Source
Homo sapiens             26
Gallus gallus            10
Anas platyrhynchos        2
Oryctolagus cuniculus     2
Sus scrofa                1
Name: count, dtype: int64

In [22]:
df=pd.read_csv("temp.csv")

In [23]:
df

   Lun  12 11 14 12
0  Mar  12 10 14 11
1  Mer  11 11 14 13
2  Jeu  18 23 23 17
3  Ven  17 22 21 17
4  Sam  16 20 22 16
5  Dim  18 25 22 17

In [26]:
df2=pd.DataFrame(columns=["Jour","t1","t2","t3"],data=pd.read_csv("temp.csv"))

In [27]:
df2

   Jour  t1  t2  t3
0   NaN NaN NaN NaN
1   NaN NaN NaN NaN
2   NaN NaN NaN NaN
3   NaN NaN NaN NaN
4   NaN NaN NaN NaN
5   NaN NaN NaN NaN